<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.geithonline.wallpaperdesigner"
    android:versionCode="47"
    android:versionName="4.7" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <!-- For downloading Settings from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For Accessing Gallery images -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For Writing Debug images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For Accessing Gallery images across users -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <!-- For upgrade to Pro Version -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- For directly setting the wallpaper from within the app -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

    <application
        android:allowBackup="true"
        android:description="@string/wallpaper_description"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true" 
        android:theme="@style/AppThemeDark">
        <activity
            android:name=".PreferencesActivity"
            android:exported="true"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="de.geithonline.wallpaperdesigner.PreferencesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpPageWebView"
            android:label="Help-Page" >
        </activity>
        <activity
            android:name=".ExampleSettingsUserView"
            android:label="@string/title_activity_user_settings_view" >
        </activity>
        </application>

</manifest>
